@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 224 71.4% 4.1%;
        --card: 0 0% 100%;
        --card-foreground: 224 71.4% 4.1%;
        --popover: 0 0% 100%;
        --popover-foreground: 224 71.4% 4.1%;
        --primary: 262.1 83.3% 57.8%;
        --primary-foreground: 210 20% 98%;
        --secondary: 220 14.3% 95.9%;
        --secondary-foreground: 220.9 39.3% 11%;
        --muted: 220 14.3% 95.9%;
        --muted-foreground: 220 8.9% 46.1%;
        --accent: 220 14.3% 95.9%;
        --accent-foreground: 220.9 39.3% 11%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 20% 98%;
        --background-header: #cacbcd;
        --border: 220 13% 91%;
        --input: 220 13% 91%;
        --ring: 262.1 83.3% 57.8%;
        --radius: 0.3rem;
        --chart-1: 12 76% 61%;
        --chart-2: 173 58% 39%;
        --chart-3: 197 37% 24%;
        --chart-4: 43 74% 66%;
        --chart-5: 27 87% 67%;

        --nav-text-light: #000000;
        --img-text-light: #000000;
        --header-text-light: #000000;
        --table-header-light: #000000;
        --text-detail-light: #000000;
        --button-color-light: #a17efa;
        --button-hover-color-light: #bea5f0;
        --dialog-background-light: white;
        --call-text-light: #000000;
        --input-background-light: #ffffff;
        --input-text-light: #cacbcd;
        --input-border-light: #cacbcd;
        --dropdown-text-light: #000000;

        --button-background-view-light: #a17efa;
        --button-background-view-hover-light: #b59af9;

        --button-background-cancel-light: #ff2257;
        --button-background-cancel-hover-light: #f5466f;

        --button-background-save-dark: #00d384;
        --button-background-save-hover-dark: #1be89d;

        --button-background-close-dark: #ff6600;
        --button-background-close-hover-dark: #fb8130;

        --button-background-edit-dark: #94a3b8;
        --button-background-edit-hover-dark: #b3bfd0;
    }

    .dark {
        --background: 224 71.4% 4.1%;
        --foreground: 210 20% 98%;
        --card: 224 71.4% 4.1%;
        --card-foreground: 210 20% 98%;
        --popover: 224 71.4% 4.1%;
        --popover-foreground: 210 20% 98%;
        --primary: 263.4 70% 50.4%;
        --primary-foreground: 210 20% 98%;
        --secondary: 215 27.9% 16.9%;
        --secondary-foreground: 210 20% 98%;
        --muted: 215 27.9% 16.9%;
        --muted-foreground: 217.9 10.6% 64.9%;
        --accent: 215 27.9% 16.9%;
        --accent-foreground: 210 20% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 20% 98%;
        --header: 210 20% 98%;
        --border: 215 27.9% 16.9%;
        --input: 215 27.9% 16.9%;
        --ring: 263.4 70% 50.4%;
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;

        --background-header-dark: #a17efa;
        --text-dark: #ffffff;
        --color: #ffffff;
        --nav-text-dark: #ffffff;
        --img-text-dark: #ffffff;
        --table-header-dark: #000000;
        --button-color-dark: #a17efa;
        --button-hover-color-dark: #bea5f0;
        --dialog-background-dark: #cacbcd;
        --dialog-text-dark: #000000;
        --call-text-dark: #000000;
        --input-background-dark: #ffffff;
        --input-text-dark: #000000;
        --input-border-dark: #cacbcd;
        --dropdown-text-dark: #000000;

        --button-background-view-dark: #a17efa;
        --button-background-view-hover-dark: #b59af9;

        --button-background-cancel-dark: #ff2257;
        --button-background-cancel-hover-dark: #f5466f;

        --button-background-save-dark: #00d384;
        --button-background-save-hover-dark: #1be89d;

        --button-background-close-dark: #ff6600;
        --button-background-close-hover-dark: #fb8130;

        --button-background-edit-dark: #94a3b8;
        --button-background-edit-hover-dark: #b3bfd0;
    }
}

/* NEW STYLING FOR THE DARK THEME */
.table-container {
    background-color: hsl(var(--card)); /* Table background */
}

.header-text {
    color: hsl(var(--foreground)); /* Text color */
}

/* body {
    background-color: var(--background);
    color: var(--foreground);
} */

.pg-background {
    background-color: hsl(var(--background)); /* Body background color */
}


/* TABLE - HEADER - TEXT */
.table-header {
    background: var(--background-header);
    color: var(--nav-text-light);
}

.dark .table-header {
    background: var(--background-header-dark);
    color: var(--table-header-dark);
}

.table {
    background-color: hsl(var(--background-header)); /* Body background color */
}

.table-text {
    color: var(--foreground);
}

.dark .table-text {
    color: var(--foreground);
}


/* ---- --- DIALOGS  ---- --- */
.dialog-background {
    background: var(--dialog-background-light);
}

.dark .dialog-background {
    background: var(--dialog-background-dark);
}

.dialog-text {
    color: var(--dialog-background-light);
}

.dark .dialog-text {
    color: var(--dialog-text-dark);
}


/* ---- --- START/EDIT CALL x ACTIVITY ---- */
.calls-text {
    color: var(--call-text-light);
}

.dark .calls-text {
    color: var(--call-text-dark);
}


/* ---- --- INPUTS x DROPDOWNS --- ---- */
.ticket-input {
    background: var(--input-background-light);
    color: var(--input-text-light);
}

.dark .ticket-input {
    background: var(--input-background-dark);
    color: var(--input-text-dark);
}

.ticket-dropdown {
    background: var(--input-background-light);
    color: var(--dropdown-text-dark);
}

.dark .ticket-dropdown {
    background: var(--input-background-dark);
    color: var(--dropdown-text-dark);
}


/* ==== ==== BUTTONS === ==== */
.view-button {
    background: var(--foreground);
}

.dark .view-button {
    color: var(--foreground);
}

.view-button:hover {
    background: var(--accent);
}

.dark .view-button:hover {
    background: var(--accent);
}
/* ----- #353333 - cancel ---- */
.cancel-button {
    background: var(--foreground);
}

.dark .cancel-button {
    color: var(--foreground);
}

.cancel-button:hover {
    background: var(--accent);
}

.dark .cancel-button:hover {
    background: var(--accent);
}
/* ---- save ---- */
.save-button {
    background: var(--foreground);
}

.dark .save-button {
    color: var(--foreground);
}

.save-button:hover {
    background: var(--accent);
}

.dark .save-button:hover {
    background: var(--accent);
}

/* ---- close ---- */
.close-button {
    background: var(--foreground);
}

.dark .close-button {
    color: var(--foreground);
}

.close-button:hover {
    background: var(--accent);
}

.dark .close-button:hover {
    background: var(--accent);
}

/* ---- edit ---- */
.edit-button {
    background: var(--foreground);
}

.dark .edit-button {
    color: var(--foreground);
}

.edit-button:hover {
    background: var(--accent);
}

.dark .edit-button:hover {
    background: var(--accent);
}


/* NAVIGATION NAVIGATION */
.nav-text {
    color: var(--nav-text-light);
}

.dark .nav-text {
    color: var(--nav-text-dark);
}

.img-text {
    color: var(--img-text-light);
}

.dark .img-text {
    color: var(--img-text-dark);
}

.header-text {
    color: var(--nav-text-light);
}

.dark .header-text {
    color: var(--nav-text-dark);
}


/* END NAVIGATION - END NAVIGATION */

thead.bg-gray-300 {
    background-color: var(--background-header) !important;
}

thead.bg-background-header {
    background-color: var(--background-header) !important;
}



/* Table Styling */
table {
    width: 100%;
    border-collapse: collapse;
    background-color: hsl(var(--card)); /* Table background */
    color: hsl(var(--foreground)); /* Text color */
}

/* Table Header Styling */
thead {
    background-color: hsl(var(--background-header)); /* Header background color */
    color: hsl(var(--primary-foreground)); /* Header text color */
}

/* Table Header Row */
thead th {
    padding: 0.5rem;
    text-align: left;
    border-bottom: 2px solid hsl(var(--border)); /* Border color */
    font-weight: bold;
}

/* Table Body Row */
/* tbody tr {
    border-bottom: 1px solid hsl(var(--border));  Row border color 
} */

/* Table Cells */
td, th {
    padding: 0.50rem;
    text-align: left;
}

/* Table Text */
.text-md {
    font-size: 1rem; /* Adjust as needed */
}



::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-track {
    background-color: var(--grey);
}

::-webkit-scrollbar-thumb {
    background-color: var(--purple);
    border-radius: 2px;
}

html {
    -webkit-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;

    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "Inter", sans-serif;
}

h1 {
    font-size: 2rem;
    margin: 0;
}

h2 {
    font-size: 1.8rem;
    margin: 0;
}

h3 {
    font-size: 1.6rem;
    margin: 0;
}

h4 {
    font-size: 1.2rem;
    margin: 0;
}

/* h6 {
    color: black;
} */

p,
li {
    font-size: 1rem;
    margin: 0;
}

ul {
    padding-inline: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

/* .custom-input {
    height: 24px;
    width: w-full;
    border: rounded solid;
    margin-top: 4px;
} */

.custom-input {
    height: 24;
    width: 100;
    padding: 0.5rem; /* Adjust as needed */
    border: 1px solid;
    border-radius: 0.375rem; /* 6px rounded */
    outline: none;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin-top: 6;
}

.main-container {
    grid-area: main;
    overflow-y: auto;
    padding: 20px 20px;
    color: rgba(255, 255, 255, 0.95)
}

.main-title {
    display: flex;
    justify-content: space-between;

}

.main-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin: 15px 0;
}

.wrapper {
    min-height: 100vh;
    padding: 0 3rem;
}

.title {
    margin-bottom: 10px;
}

.btn__container {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}


/* -- CARDS -- */
.card {
    width: 190px;
    height: 120px;
    padding: 0.5rem;
    background: rgba(198, 198, 198, 0.34);
    border-radius: 8px;
    backdrop-filter: blur(5px);
    border-bottom: 3px solid rgba(255, 255, 255, 0.440);
    border-left: 2px  rgba(255, 255, 255, 0.545) outset;
    box-shadow: -40px 50px 30px rgba(0, 0, 0, 0.280);
    transform: skewX(10deg);
    transition: .4s;
    overflow: hidden;
    color: white;
}

.card:hover {
    height: 254px;
    transform: skew(0deg);
}

.align {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-self: flex-start;
}

.red {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ff605c;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.280);
}

.yellow {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ffbd44;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.280);
}

.green {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #00ca4e;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.280);
}

.card h1 {
    text-align: center;
    margin: 1.3rem;
    color: rgb(218, 244, 237);
    text-shadow: -10px 5px 10px rgba(0, 0, 0, 0.573);
}

.card {
    background: white;
}

/* STYLING FOR TOGGLE between Light x Dark */
/* The switch - the box around the slider */
.switch {
    display: block;
    --width-of-switch: 3.5em;
    --height-of-switch: 2em;
    /* size of sliding icon -- sun and moon */
    --size-of-icon: 1.4em;
    /* it is like a inline-padding of switch */
    --slider-offset: 0.3em;
    position: relative;
    width: var(--width-of-switch);
    height: var(--height-of-switch);
}

  /* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

  /* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f4f4f5;
    transition: .4s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: var(--size-of-icon,1.4em);
    width: var(--size-of-icon,1.4em);
    border-radius: 20px;
    left: var(--slider-offset,0.3em);
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient(40deg,#ff0080,#ff8c00 70%);
    ;
transition: .4s;
}

input:checked + .slider {
    background-color: #303136;
}

input:checked + .slider:before {
    left: calc(100% - (var(--size-of-icon,1.4em) + var(--slider-offset,0.3em)));
    background: #303136;
    /* change the value of second inset in box-shadow to change the angle and direction of the moon  */
    box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
}

/* .card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 8px 15px;
    border-radius: 5px;
    background-color: #ffff;
    border: 2px solid #a17efa; /* Adding border-width and border-color
    border-color: #a17efa;
}
*/

.card-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-inner > .card_icon{
    font-size: 25px;
}


@media (min-width: 768px) {
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 1.8rem;
    }

    h4 {
        font-size: 1.5rem;
    }
}

/* white: '#ffffff', black: '#353535', mask: "#0000007f", blackLight: 'rgba(87, 87, 86, 0.8)', blackSkeleton: '#2b2b2b33' */
/* grey: '#f4f4f4', greyMid: '#D4D4D4', greyLight: '#e5e5e5', greyDarker: '#bdb9b9', maroon: '#9f9f9f', purple: '#a17efa', */
/* purpleDarker: '#855cec', purpleFaint: '#dccfff', green: '#00d384', red: '#ff2257', yellow: '#FFC400', blue: '#1ec3ff', */
/* orange: '#ff6600', overlay: '#0000007f', darkblue: '#0038FF' */