@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --grey: #e5e5e5;
    --purple: #a17efa;
}

::-webkit-scrollbar {
    width: 1px;
}

::-webkit-scrollbar-track {
    background-color: var(--grey);
}

::-webkit-scrollbar-thumb {
    background-color: var(--purple);
    border-radius: 2px;
}

html {
    -webkit-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;

    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "Inter", sans-serif;
}

h1 {
    font-size: 2rem;
    margin: 0;
}

h2 {
    font-size: 1.8rem;
    margin: 0;
}

h3 {
    font-size: 1.6rem;
    margin: 0;
}

h4 {
    font-size: 1.2rem;
    margin: 0;
}

p,
li {
    font-size: 1rem;
    margin: 0;
}

ul {
    padding-inline: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

/* .custom-input {
    height: 24px;
    width: w-full;
    border: rounded solid;
    margin-top: 4px;
} */

.custom-input {
    height: 24;
    width: 100;
    padding: 0.5rem; /* Adjust as needed */
    border: 1px solid;
    border-radius: 0.375rem; /* 6px rounded */
    outline: none;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin-top: 6;
}

.main-container {
    grid-area: main;
    overflow-y: auto;
    padding: 20px 20px;
    color: rgba(255, 255, 255, 0.95)
}

.main-title {
    display: flex;
    justify-content: space-between;

}

.main-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin: 15px 0;
}

/* .card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 8px 15px;
    border-radius: 5px;
    background-color: #ffff;
    border: 2px solid #a17efa; /* Adding border-width and border-color
    border-color: #a17efa;
}
*/

/* .card:first-child {
    background-color: #2962ff;
} */

/* blue - #2962ff */
/* white - #ffff */

/* .card:nth-child(2) {
    background-color: #ff6d00;
} */
/* orange - #ff6d00 */

/* .card:nth-child(3) {
    background-color: #2e7d32;
} */
/* green - #2e7d32*/

/* .card:nth-child(4) {
    background-color: #d50000;
} */
/* red - #d50000*/

.card-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-inner > .card_icon{
    font-size: 25px;
}


@media (min-width: 768px) {
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 1.8rem;
    }

    h4 {
        font-size: 1.5rem;
    }
}

/* white: '#ffffff', black: '#353535', mask: "#0000007f", blackLight: 'rgba(87, 87, 86, 0.8)', blackSkeleton: '#2b2b2b33' */
/* grey: '#f4f4f4', greyMid: '#D4D4D4', greyLight: '#e5e5e5', greyDarker: '#bdb9b9', maroon: '#9f9f9f', purple: '#a17efa', */
/* purpleDarker: '#855cec', purpleFaint: '#dccfff', green: '#00d384', red: '#ff2257', yellow: '#FFC400', blue: '#1ec3ff', */
/* orange: '#ff6600', overlay: '#0000007f', darkblue: '#0038FF' */